:global {
    html, body, #root {
      height: 100%;
      font-family: 'PingFang_SC_Medium';
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    // 自定义 Menu 样式
    .layout {
      height: 100%;
      background-color: #F1F3F9;
      .logo {
        height: 126px;
        color: #fff;
      }
      .ant-layout-sider {
        background-color: #303030;
      }
      .ant-menu {
        color: #A1A4B6;
        width: 161px;
        font-size: 16px;
        background-color: #303030;
        .ant-menu-item {
          text-align: center;
          padding: 0 !important;
          width: 100%;
          height: 126px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            color: #A1A4B6;
          }
          &:hover {
            color: #fff;
            background-color: #000;
          }
          .menu-title {
            margin-top: -10px;
          }
        }
        .ant-menu-item::after {
          border-right: 0;
        }
        .ant-menu-item-selected {
          background-color: #000;
          border: none;
          a {
            color: #fff;
          }
        }
      }
      .main {
        padding: 0 20px;
        .title {
          font-size: 22px;
          color: #000;
          padding: 10px 0;
        }
        .gutter-row:first-child {
          padding-right: 20px;
        }
        .wrap-tab-title {
          font-size: 16px;
          color: '#FF222632';
          padding-left: 10px;
          border-left: 6px solid #2978FF;
          &:after {
            height: 20px;
          }
        }
      }
    }
}
